/*
+_mixins.scss
*/

// #media query
$medium-page: 767px;
$wide-page: 1024px;
@mixin responsive($media) {
  @if $media == mobileTablet {
    @media all and (max-width: $wide-page) { @content; }
  }
  @else if $media == mobile {
    @media all and (max-width: $medium-page) { @content; }
  }
  @else if $media == tablet {
    @media all and (min-width: $medium-page + 1) and (max-width: $wide-page) {
      @content;
    }
  }
  @else if $media == pc {
    @media all and (max-width: $wide-page + 1) { @content; }
  }
}

// #text
@mixin title-txt {
  font: {
    size: 3.5rem;
    weight: 700;
  }
  line-height: 5rem;
  @include responsive(mobileTablet) {
    font: {
      size: 3rem;
    }
    line-height: 4.5rem;
  }
}

@mixin title-h2-txt {
  font: {
    size: 3rem;
    weight: 700;
  }
  line-height: 4.5rem;
  text-align: center;
  @include responsive(mobileTablet) {
    font: {
      size: 2.5rem;
    }
    line-height: 4rem;
  }
}

// #spacing
@mixin spacing {
  padding: 3%;
}
@mixin up-down-spacing {
  padding: 3% 0;
}
@mixin left-right-sapcing {
  padding: 0 3%;
}

// #border-style
@mixin border-radius-05 {
  border: {
    radius: 5px;
  }
}