/*
+_mixins.scss
*/

// #media query
$medium-page: 767px;
$wide-page: 1024px;
@mixin responsive($media) {
  @if $media == mobileTablet {
    @media all and (max-width: $wide-page) { @content; }
  }
  @else if $media == mobile {
    @media all and (max-width: $medium-page) { @content; }
  }
  @else if $media == tablet {
    @media all and (min-width: $medium-page + 1) and (max-width: $wide-page) {
      @content;
    }
  }
  @else if $media == pc {
    @media all and (max-width: $wide-page + 1) { @content; }
  }
}

// #text
@mixin title-txt {
  font: {
    size: 3.5rem;
    weight: 700;
  }
  line-height: 5rem;
  @include responsive(mobileTablet) {
    font: {
      size: 3rem;
    }
    line-height: 4.5rem;
  }
}

@mixin title-h2-txt {
  font: {
    size: 3rem;
    weight: 700;
  }
  line-height: 4.5rem;
  text-align: center;
  @include responsive(mobileTablet) {
    font: {
      size: 2.5rem;
    }
    line-height: 4rem;
  }
}

// #spacing
@mixin spacing {
  padding: 3%;
}
@mixin up-down-spacing {
  padding: 3% 0;
}
@mixin left-right-sapcing {
  padding: 0 3%;
}

// #border-style
@mixin border-radius-05 {
  border: {
    radius: 5px;
  }
}

// #gradient
@mixin gradient-lightgreen-yellow {
  background-color: $color-light-yellow;
  background: -webkit-linear-gradient(left, $color-light-green, $color-light-yellow);
  background: -moz-linear-gradient(left, $color-light-green, $color-light-yellow);
  background: -o-linear-gradient(left, $color-light-green, $color-light-yellow);
  background: linear-gradient(90deg, $color-light-green, $color-light-yellow);
}

@mixin gradient-rainbow {
  background-color: $color-light-purple;
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.5), rgba(255, 50, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(100, 0, 255, 0.5));
  background: -moz-linear-gradient(left, rgba(255, 0, 0, 0.5), rgba(255, 50, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(100, 0, 255, 0.5));
  background: -o-linear-gradient(left, rgba(255, 0, 0, 0.5), rgba(255, 50, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(100, 0, 255, 0.5));
  background: linear-gradient(128deg, rgba(255, 0, 0, 0.5), rgba(255, 50, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(100, 0, 255, 0.5));
}