// #text
@mixin title-txt {
  font: {
    size: 3.5rem;
    weight: 700;
  }
  line-height: 4rem;
}

@mixin title-h2-txt {
  font: {
    size: 3rem;
    weight: 700;
  }
  line-height: 4.5rem;
  text-align: center;
}

// #spacing
@mixin spacing {
  padding: 3%;
}
@mixin up-down-spacing {
  padding: 3% 0;
}
@mixin left-right-sapcing {
  padding: 0 3%;
}

// #border-style
@mixin border-radius-05 {
  border: {
    radius: 5px;
  }
}