// #color
$color-black: #000;
$color-white: #fff;
$color-dark-white: #f8f8fc;

$color-gray: #808080;
$color-medium-gray: #4a4844;
$color-gray-0-1: rgba(0, 0, 0, 0.1);
$color-gray-0-0-5: rgba(0, 0, 0, 0.05);

$color-beige: #f7d19a;
$color-dark-beige: #d48e29;
$color-beige-light-gray: #debb88;

$color-light-yellow: #faed7d;