/*
#media_query.scss : media query for mobile, tablet, pc
*/

// ##mobile & tablet
@include responsive(mobileTablet) {
  .search-box {
    .search-box__inner {
      width: 100%;
      padding: 2%;
    }
  }
  .contents {
    ul.frame-contents {
      width: 100%;

      li.frame-contents__page {
        padding: 1% 1.5%;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
}
// ##mobile
@include responsive(mobile) {
.contents {
  ul.frame-contents {
    li.frame-contents__list {
      width: calc(100%/1);
    }
  }
}
}
// ##tablet
@include responsive(tablet) {
  .search-box {
    .search-box__inner {
      .search-box__button {
        .ion {
          font-size: 3.3rem;
        }
      }
    }
  }
  .footer {
    p.copyright {
      font-size: 1.3rem;
    }
  }
}
// ##pc
@include responsive(pc);