// #base setting

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  letter-spacing: -0.5px;
}

html, body, a, p {
  color: $color-black;
  letter-spacing: -1.5px;
}

a, span, ion-icon {
  vertical-align: middle;
}

img {
  width: 100%;
}

input, textarea {
  border: {
    width: 0;
  }
}
// #custom = BEM, Nesting
.header {
  background-color: $color-light-yellow;
  @include spacing;
  text-align: center;
  .logo {
    color: $color-medium-gray;
    @include title-txt;
  }
}
.search-box {
  @include spacing; 
  text-align: center;
  .search-box__inner {
    padding: 2%;
    background-color: $color-beige;
    @include border-radius-05;
    .search-box__input {
      width: calc(100% - 45px - 10px);
      height: 35px;
      background-color: $color-beige-light-gray;
      @include border-radius-05;
    }
    .search-box__button {
      display: inline-block;
      width: 45px;
      height: 35px;
      margin-left: 10px;
      background-color: $color-dark-beige;
      @include border-radius-05;
      color: #333;
      text-align: center;
      line-height: 35px;
      font: {
        weight: 700;
        size: 1.3rem;
      }
    }
  }
}

.contents {
  @include spacing;
}

ul.list-frame {
  overflow: hidden;
  li {
    overflow: hidden;
    div {
      float: left;
    }
  }
  li.list-frame__header {
    padding: 2%;
    background-color: $color-light-gray;
    div {
      width: calc(100%/3);
      font: {
        size: 1.7rem;
        weight: 500;
      }
      text-align: center;
      line-height: 2.4rem;
    }
  }
}