/*
#style.scss : base setting and BEM, Nesting style
*/

// ##base setting
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html, body, a, p {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -1px;
}

html, body, div, p {
  box-sizing: border-box;
}

a, span {
  vertical-align: middle;
}

img {
  width: 100%;
}

input, textarea {
  border: {
    width: 0;
  }
}
// ##custom = BEM, Nesting
#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background-color: $color-light-yellow;
  @include spacing;
  text-align: center;
  .logo {
    @include title-txt;
    line-height: initial;
  }
}
.search-box {
  @include spacing; 
  text-align: center;
  .search-box__inner {
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    @include border-radius-05;
    .search-box__input {
      width: calc(100% - 45px - 10px);
      height: 35px;
      background-color: transparent;
      @include border-radius-05;
    }
    .search-box__button {
      display: inline-block;
      width: 45px;
      height: 35px;
      margin-left: 10px;
      @include border-radius-05;
      color: $color-gray;
      text-align: center;
      line-height: 35px;
      font: {
        weight: 700;
        size: 2.3rem;
      }
    }
  }
}

.contents {
  margin: auto 0;
  @include spacing;
  padding-top: 0;
  .list-title {
    padding-bottom: 1%;
    @include title-h2-txt;
  }

  ul.frame-contents {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    li.frame-contents__list {
      float: left;
      width: calc(100%/3);
      @include border-radius-05;
      a.frame-contents__link {
        display: block;
        overflow: hidden;
        margin: 4%;
        padding: 10%;
        border: {
          width: 1px;
          style: solid;
          color: $color-gray-0-1;
        }
        @include border-radius-05;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
        0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        &:hover {
          border: {
            width: 1px;
            style: solid;
            color: $color-beige;
          }
          background-color: $color-light-yellow;
          .img-box {
            img {
              border: {
                color: $color-beige;
              }
            }
          }
        }
        .img-box {
          img {
            border: {
              width: 1px;
              style: solid;
              color: $color-gray-0-1;
            }
            box-sizing: initial;
            @include border-radius-05;
          }
        }
        p {
          padding-top: 10%;
          font: {
            size: 1.6rem;
            weight: 500;
          }
          text-align: center;
          line-height: 2.6rem;
        }
      }
    }
    li.frame-contents__page {
      margin: auto 8px;
      padding: 1%;
      cursor: pointer;
      color: $color-medium-gray;
      font: {
        size: 1.2rem;
        weight: 700;
      }
    }
  }
  ul.paging {
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
}
// ul.frame-header {
//   overflow: hidden;
//   padding: 2%;
//   background-color: $color-gray-0-0-5;
//   -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
//   0px 1px 3px 0px rgba(0, 0, 0, 0.08);
//   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
//   0px 1px 3px 0px rgba(0, 0, 0, 0.08);
//   li {
//     float: left;
//     width: calc(100%/2);
//     font: {
//       size: 1.7rem;
//       weight: 500;
//     }
//     line-height: 2.4rem;
//     text-align: center;
//   }
// }

.footer {
  margin-top: auto;
  @include spacing;
  background-color: $color-gray-0-0-5;
  p.copyright {
    color: $color-gray-0-4;
    letter-spacing: 0;
    font-weight: 700;
  }
}