/*
#style.scss : base setting and BEM, Nesting style
*/

// ##base setting
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html, body, a, p {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -1px;
}

html, body, div, p {
  box-sizing: border-box;
}

a, span {
  vertical-align: middle;
}

img {
  width: 100%;
}

input, textarea {
  border: {
    width: 0;
  }
}

// ##custom = BEM, Nesting
#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  padding: 2% 3%;
  // @include gradient-lightgreen-yellow;
  @include gradient-rainbow;
  text-align: center;
  .logo {
    @include title-txt;
    line-height: initial;
  }
}
.search-box {
  @include spacing; 
  text-align: center;
  .search-box__inner {
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    @include border-radius-05;
    .search-box__input {
      width: calc(100% - 45px - 10px);
      height: 35px;
      background-color: transparent;
      @include border-radius-05;
    }
    .search-box__button {
      display: inline-block;
      width: 45px;
      height: 35px;
      margin-left: 10px;
      @include border-radius-05;
      color: $color-gray;
      text-align: center;
      line-height: 35px;
      font: {
        weight: 700;
        size: 2.3rem;
      }
    }
  }
}

.contents {
  margin: auto 0;
  @include spacing;
  padding-top: 0;
  .list-title {
    padding-bottom: 1%;
    @include title-h2-txt;
  }

  ul.frame-contents {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    li.frame-contents__list {
      width: calc(100%/3);
      @include border-radius-05;
      a.frame-contents__link {
        display: block;
        overflow: hidden;
        margin: 4%;
        padding: 20px 15px;
        border: {
          width: 1px;
          style: solid;
          color: $color-gray-0-1;
        }
        @include border-radius-05;
        // box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
        // 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12),
        0 1px 2px rgba(0, 0, 0, .24);
        &:hover {
          background-color: $color-gray-0-0-5;
        }
        .line-box {
          text-align: center;
          .line {
            display: inline-block;
            width: 5px;
            height: 26px;
            background-color: $color-gray;
            @include border-radius-05;
            transform: rotate(45deg) translate(0, 0);
          }
          .line.left {
            transform: rotate(45deg) translate(-4px, -3px);
          }
          .line.center {
            height: 36px;
          }
          .line.right {
            transform: rotate(45deg) translate(4px, 3px);
          }
        }
        p {
          padding-top: 5%;
          font: {
            size: 1.6rem;
            weight: 400;
          }
          text-align: center;
          line-height: 2.6rem;
        }
      }
    }
    li.frame-contents__page {
      margin: auto 8px;
      padding: 1%;
      cursor: pointer;
      color: $color-gray-0-4;
      font: {
        size: 1.2rem;
        weight: 700;
      }
      &:first-child {
        color: $color-black;
      }
    }
  }
  ul.paging {
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
}
// ul.frame-header {
//   overflow: hidden;
//   padding: 2%;
//   background-color: $color-gray-0-0-5;
//   -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
//   0px 1px 3px 0px rgba(0, 0, 0, 0.08);
//   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
//   0px 1px 3px 0px rgba(0, 0, 0, 0.08);
//   li {
//     float: left;
//     width: calc(100%/2);
//     font: {
//       size: 1.7rem;
//       weight: 500;
//     }
//     line-height: 2.4rem;
//     text-align: center;
//   }
// }

.footer {
  margin-top: auto;
  padding: 1% 3%;
  background-color: $color-gray-0-0-5;
  p.copyright {
    color: $color-gray-0-4;
    letter-spacing: 0;
    font-weight: 700;
  }
}

// ###modal
#modal-mask {
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  border-radius: 2px;
  width: 300px;
  margin-left: -150px;
  background-color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  .modal-header {
    .modal-headder__title {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
      .modal-header__title-txt {
        color: $color-white;
        font: {
          size: 2rem;
          weight: 700;
        }
        line-height: 3rem;
      }
    }
  }
}
.close-btn {
  margin-left: auto;
  color: $color-white;
  font-size: 2rem;
}
.modal-toast-enter-to {
  animation: bounce-in .5s reverse;
}

.modal-toast-leave-active {
  //animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}